/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); */
 
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  background-color: #010026;
  @apply text-white;
}
#social_media  *, #footer  *, #home  *, #skills  *, nav  * {
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important; */
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important; */
  /* font-family: "Roboto" !important; */
  font-family: "Montserrat", sans-serif !important;
}

 
 
.socials {
  display: flex;
  flex-direction: column;
}

.socials a {
   margin-bottom: .5rem;
   font-size: 1rem;
}

.contac {
  position: relative;
  height: 100%;
}

.contac::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 40;
}

.contac .image {
  transition: all ease-in .5s;
  cursor: pointer;
}
.contac:hover .image {
  object-fit: cover;
  transform: translateY(1);
 }


 
